.App {
    font-family: sans-serif;
    text-align: center;
  }
  h1 {
    background-color: coral;
    font-family: Comic Sans MS;
  }
  
  input {
    width: 80%;
    padding: 1.5rem;
  }
  body {
    background-color: cornflowerblue;
  }